doctype html
doctype html
html(lang="en")
head
title My Express Application
body
h1 #{ title }
hr
p Welcome to Authorisation Lesson
br
a(href="/login") Login
br
a(href="/register") New Users Register Here