doctype html
html(lang="en")
head
title Create an account 
body
h1 Create your account here
if error
    p Error : #{error}
br
form(method="post")
    label(for="userfirstname") User Firstname :
        input(type="text", name="firstname", required, id="userfirstname")
    br
    label(for="userlastname") User Lastname :
        input(type="text", name="lastname", required, id="userlastname")
    br
    label(for="useremail") User Email :
        input(type="text", name="email", required, id="useremail")
    br
    label(for="userpass") Password :
        input(type="text", name="password", required, id="userpass")
    br
    input(type="submit",value="Register") 
