<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user %></title>
</head>
<body>
    <h1>This is ejs template</h1>

    <hr>

    <form action="#" method="POST">
        <label for="heroip">Add new hero: </label>
        <input type="text" id="heroip" name="newhero">
        <button type="submit">Add a hero</button>
    </form>
    <ol>
        <% for(var i = 0; i < heroes.length; i++){ %>
       <li> <%= heroes[i] %></li> 
        <% }%>
    </ol>
</body>
</html>